@import "../../../variables.scss";

.nba-overview-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  margin: 1rem auto;
  padding: 0 2rem;
  padding-bottom: 2rem;

  .game-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    column-gap: 2rem;

    .team-container {
      flex: 1;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1rem;

      .roster-container {
        display: flex;
        flex-direction: column;
        text-align: left;

        .player {
          height: 2rem;
          border-top: 1px solid #ccc;
          line-height: 2rem;
          display: flex;

          .player-name {
            width: 135px;

            span {
              color: #727070;
              font-size: 0.8rem;
              padding-left: 5px;
            }
          }

          .player-stats {
            display: flex;

            div {
              width: 3.3rem;
            }
          }
        }
      }

      .header-container {
        display: flex;

        .first-stat {
          padding-left: 5.3rem;
        }

        .home-first-stat {
          padding-left: 4rem;
        }

        p {
          width: 3.3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .nba-overview-container {
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    width: 90%;
    overflow-x: scroll;
  }
}
