@import "../../variables.scss";

.nav-container {
  background-color: $blue;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #fff;
  padding: 0 3rem;

  button {
    background-color: $red;
    border: none;
    color: #fff;
    width: 5rem;
    height: 1.5rem;
    margin-left: 1rem;
    font-family: $league-text;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  button:hover {
    background-color: #fff;
    color: $blue;
    cursor: pointer;
  }

  p {
    font-family: $barstool-modern;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .nav-container {
    p {
      font-size: 1.5rem;
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    justify-content: center;
    p {
      display: none;
    }
  }
}
