@import "../../variables.scss";

.scoreboard-container {
  width: fit-content;
  border: 1px solid black;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  font-family: "Teko", sans-serif;
  font-size: 1.75rem;

  .period-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
  }

  .period {
    width: 5rem;
    border-right: 1px solid #ccc;
  }

  .period:first-of-type {
    border-left: 1px solid #ccc;
  }

  .inning-container {
    width: 5rem;
    border-right: 1px solid #ccc;
  }

  .home-container {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #ccc;
  }

  .away-container {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #ccc;
  }

  .team-name {
    border-right: 1px solid #ccc;
    padding: 0 1rem;
    letter-spacing: 0.1rem;
    width: 2rem;
  }

  .final-column {
    width: 5rem;
    background-color: rgb(235, 232, 232);
  }
}
