@import url("https://fonts.googleapis.com/css2?family=Tangerine&family=Teko:wght@300&display=swap");
$blue: #161e2f;
$red: #da4d46;

$barstool-script: "Tangerine", cursive;
$league-text: "Teko", sans-serif;
